<h1>Administrator Page</h1>
<br>
<div> <%= link_to "Add book", new_book_path %> </div>
<br>
<div> <%= link_to "Search book", new_admin_search_path%></div>
<br>
<!--<div>  <%= link_to "View All Books", books_path%></div>-->
<div> <%= link_to "Back to home page", root_path%></div>